In [2]:
from pandas import Series, DataFrame
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
s1 = Series([45,67,100,34,98])
print(type(s1))
print(s1)

<class 'pandas.core.series.Series'>
0     45
1     67
2    100
3     34
4     98
dtype: int64

In [4]:
s2 = Series([45,67,100,34,98], index=['a','b','c','d','e'])
s2

a     45
b     67
c    100
d     34
e     98
dtype: int64

In [5]:
v2 = s2.values
print(type(v2))
print(v2)

<class 'numpy.ndarray'>
[ 45  67 100  34  98]

In [6]:
s2.index.name = 'Student Name'
s2.name = 'Marks Scored'
s2

Student Name
a     45
b     67
c    100
d     34
e     98
Name: Marks Scored, dtype: int64

In [8]:
marks = {'a':90,'b':23,'c':56,'d':78}
s3 = Series(marks) # convert dictionary to series
s3

a    90
b    23
c    56
d    78
dtype: int64

In [9]:
s3['b']

23

In [10]:
s3['d']

78

In [11]:
s3[1]

23

In [12]:
s3[:3] # gives a new series

a    90
b    23
c    56
dtype: int64

In [13]:
s3['a':'c'] # end index inclusive in actual index

a    90
b    23
c    56
dtype: int64

In [14]:
s4 = s3>70
s4

a     True
b    False
c    False
d     True
dtype: bool

In [15]:
s3[s3>70]

a    90
d    78
dtype: int64

In [16]:
s5 = Series({'abc':56,'def':45,'ghi':'NA','aaa':34,'bcd':'NA'})
s5

aaa    34
abc    56
bcd    NA
def    45
ghi    NA
dtype: object

In [17]:
s5[s5 == 'NA']=0
s5

aaa    34
abc    56
bcd     0
def    45
ghi     0
dtype: object